body {
  font-size: 16px;
}

.block-row {
  margin-right: 1rem;
}

.center-field {
  display: flex;
  justify-content: space-around;
}

.extra-info-field {
  border: 1px solid #000;
  border-radius: .25rem;
  margin: .5rem 0 0 -.125rem;
  width: fit-content;
}

.language-switching {
  float: inline-end;
}

.lang-switch-eng,
.lang-switch-rus {
  outline: none;
  border-radius: .25rem;
}

.lang-switch-eng {
  border: 1px solid #0051ff;
  color: #0051ff;
}

.lang-switch-rus {
  border: 1px solid #ff0000;
  color: #ff0000;
}

.main {
  border-radius: .25rem;
  border: 1px solid #3d3d3d;
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: fit-content;
  left: 50%;
  top: 50%;
}

.extra-info-field-title,
.main-title {
  padding: 0 .5rem;
}

.non-picked {
  font-size: 1rem;
  font-weight: 400;
}

.picked {
  font-size: 1.125rem;
  font-weight: 800;
}

.sort-user {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

#lang-switch-eng {
  color: #0051ff;
}

#lang-switch-rus {
  color: #ff0000;
}

#no-record {
  color: #9a0000;
}

#search-field {
  border-radius: .25rem;
  padding-left: .25rem;
}

#users-list {
  border: 1px solid #000;
  border-radius: .25rem;
  max-height: 66vh;
  margin-top: .5rem;
  overflow-y: auto;
  padding-left: .5rem;
}