<div class="language-switching">
  <select
    name="lang-switch"
    id="lang-switch"
    [ngClass]="currentLanguage == 'eng' ? 'lang-switch-eng' : 'lang-switch-rus'"
    (change)="swichLanguageSetting($event)">
    <option id="lang-switch-eng" value="eng">English</option>
    <option id="lang-switch-rus" value="rus">Русский</option>
  </select>
</div>
<div class="center-field">
  <fieldset class="main">
    <legend class="main-title">{{languageLayout[currentLanguage].mainTitle}}</legend>
    <div class="sort-user">
      <div class="block-row">
        <input type="radio" id="all" name="user-sorting" (change)="swichUserList($event.target.id)" />
        <label for="all">{{languageLayout[currentLanguage].userStatus.all}}</label>
      </div>

      <div class="block-row">
        <input type="radio" id="active" name="user-sorting" (change)="swichUserList($event.target.id)" checked />
        <label for="active">{{languageLayout[currentLanguage].userStatus.active}}</label>
      </div>

      <div class="block-row">
        <input type="radio" id="inactive" name="user-sorting" (change)="swichUserList($event.target.id)" />
        <label for="inactive">{{languageLayout[currentLanguage].userStatus.inactive}}</label>
      </div>
    </div>

    <input type="text" id="search-field" [(ngModel)]="searchField" (input)="searchInUserList()" />

    <div id="users-list">
      @if (users.length) {
        @for (user of users; track user; let idx=$index) {
          <p [ngClass]="idx == currentUserIdx ? 'picked' : 'non-picked'" (click)="extraInfo(idx)">{{user.name}}</p>
        }
      } 
      @else {
        <p id="no-record">Record not found</p>
      }
    </div>
    @if (extraInfoStatus) {
      <fieldset class="extra-info-field">
        <legend class="extra-info-field-title">{{languageLayout[currentLanguage].extraInfoField}}</legend>
        <p>{{currentUserData}}</p>
      </fieldset>
    }
  </fieldset>
</div>
<!-- <router-outlet /> -->